.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  height: 757px;
  max-height: 757px;
  margin-top: 46px;
  padding: 41px 0 37px;
  background: #228b22 url(../img/chat-bg.jpg) no-repeat;
  background-size: cover;
}

.chat__content {
  min-height: 476px;
  height: 476px;
  max-height: 476px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  overflow: auto;
}
.chat__item {
  display: flex;
  width: 100%;
  margin-bottom: 19.5px;
  &--responder {
    flex-direction: row-reverse;
    .chat__item-photo {
      margin-left: 23px;
    }
    .chat__message {
      flex-direction: row-reverse;
      &:before {
        left: auto;
        right: -9px;
      }
      .chat__message-content {
        padding: 12px 23px 0px 9px;
      }
    }
  }
}
.chat__item-photo {
  width: 43px;
  height: 43px;
  margin-right: 18px;
  margin-left: 19px;
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  object-fit: cover;
}

.chat__message {
  position: relative;
  width: 74.5%;
  display: flex;
  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    left: -9px;
    top: 10px;
    border-top: solid 10px #fff;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
  }
}

.chat__message-content {
  display: flex;
  align-self: flex-start;
  width: auto;
  min-height: 47px;
  padding: 11px 15px;
  border-right: 20px;
  background-color: #fff;
  border-radius: 5px;
}
