.chat-footer {
  padding: 20px 41px 0 20px;
}
.chat__footer-input {
  width: 100%;
  padding: 10px 10px 22px;
  margin-bottom: 13px;
  font-family: 'Noto Sans', sans-serif;
  color: #696969;
  border-radius: 4px;
  border: 1px solid $border-input;
  resize: none;
}
