.btn {
  padding: 20px 20px;
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  background-color: $bg-btn;
  border: 1px solid $border-btn;
}
