.btn {
  padding: 9px 29px 9px 31px;
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #fff;
  border-radius: 30px;
  background-color: $bg-btn;
  border: 1px solid $border-btn;
}
